body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    font-size: small;
    margin: 8px;
}

td {
    vertical-align: top;
}

.gwt-Button {
    background: #ffffff;
    margin: 3px;
    padding: 5px 10px;
    border: solid #8f8f8f 1px;
    border-radius: 2px;
    box-shadow: 1px 1px 5px #949494;
    color: #000000;
    text-decoration: none;
}

button:hover {
    background: #d1d1d1;
    text-decoration: none;
}

.option-button button {
    background: rgba(255, 255, 255, 0);
    margin: 0px;
    padding: 1px 5px;
    border: none;
    color: #868686;
    text-decoration: none;
    box-shadow: none;
}

.option-button button:hover {
    background: #ddf;
}

#dish-table {
    min-width: 350px;
}

#price-column {
    text-align: right;
}

#category-table {

}

.gwt-PopupPanelGlass {
    background-color: #000;
    opacity: 0.3;
}

.gwt-TextBox {
    background: #FFFFFF;
    margin: 3px;
    padding: 5px 10px;
    border: solid #8f8f8f 1px;
    border-radius: 2px;
    box-shadow: 1px 1px 5px #949494;
    color: #000000;
    text-decoration: none;
}

.gwt-DialogBox {

}

.gwt-DialogBox .dialogMiddleCenter {
    padding: 3px;
    background: white;
}

.gwt-DialogBox .Caption {
    background: #f1f1f1;
    padding: 4px 8px 4px 8px;
    font-weight: bold;
    border-bottom: 1px solid #d2d2d2;
}

.gwt-DatePicker {
    border: 1px solid #ccc;
    border-top: 1px solid #999;
    cursor: default;
}

.gwt-DatePicker td,
.datePickerMonthSelector td:focus {
    outline: none;
}

.datePickerMonthSelector td:focus {
    outline: none;
}

.datePickerDays {
    width: 100%;
    background: white;
}

.datePickerDay,
.datePickerWeekdayLabel,
.datePickerWeekendLabel {
    font-size: 85%;
    text-align: center;
    padding: 4px;
    outline: none;
    font-weight: bold;
    color: #333;
    border-right: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
}

.datePickerWeekdayLabel,
.datePickerWeekendLabel {
    background: #fff;
    padding: 0px 4px 2px;
    cursor: default;
    color: #666;
    font-size: 70%;
    font-weight: normal;
}

.datePickerDay {
    padding: 4px 7px;
    cursor: hand;
    cursor: pointer;
}

.datePickerDayIsWeekend {
    background: #f7f7f7;
}

.datePickerDayIsFiller {
    color: #999;
    font-weight: normal;
}

.datePickerDayIsValue {
    background: #d7dfe8;
}

.datePickerDayIsDisabled {
    color: #AAAAAA;
    font-style: italic;
}

.datePickerDayIsHighlighted {
    background: #F0E68C;
}

.datePickerDayIsValueAndHighlighted {
    background: #d7dfe8;
}

.datePickerDayIsToday {
    padding: 3px;
    color: #00f;
    background: repeat-x 0px -2607px;
}

.datePickerMonthSelector {
    width: 100%;
    padding: 1px 0 5px 0;
    background: #fff;
}

.datePickerPreviousButton,
.datePickerNextButton {
    font-size: 120%;
    line-height: 1em;
    color: #3a6aad;
    cursor: hand;
    cursor: pointer;
    font-weight: bold;
    padding: 0px 4px;
    outline: none;
}

td.datePickerMonth {
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 100%;
    font-weight: bold;
    color: #333;
}

.gwt-DateBox {
    background: #FFFFFF;
    margin: 3px;
    padding: 5px 10px;
    border: solid #8f8f8f 1px;
    border-radius: 2px;
    box-shadow: 1px 1px 5px #949494;
    color: #000000;
    text-decoration: none;
}

.gwt-DateBox input {
    width: 8em;
}

.dateBoxFormatError {
    background: #ffcccc;
}

.dateBoxPopup {
}

.gwt-TabLayoutPanel {
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
    background: #ccc;
    padding-top: 6px;
    padding-left: 5px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContentContainer {
    border-color: #ccc;
    border-style: solid;
    border-width: 0px 1px 1px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
    overflow: hidden;
    padding: 6px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
    margin-left: 4px;
    padding: 4px 8px 4px 8px;
    cursor: pointer;
    cursor: hand;
    color: white;
    font-weight: normal;
    text-align: center;
    background: #8E8E8E;
    -moz-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
    cursor: default;
    background: white;
    color: #333;
    font-weight: bold;
}

.report {
    height: 100%;
    min-height: 20px;
    padding: 19px;
    margin: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)
}